In [1]:
import pandas as pd

In [2]:
a = pd.Series([3, 5, 5, 9])
a

0    3
1    5
2    5
3    9
dtype: int64

In [3]:
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo['State']

0        NY
1        NJ
2        CO
3        KS
4        NY
         ..
18236    IL
18237    IA
18238    WI
18239    WI
18240    FL
Name: State, Length: 18241, dtype: object

In [6]:
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [7]:
ufo.shape

(18241, 6)

In [8]:
ufo.describe()

,City,Colors Reported,Shape Reported,State,Time,Location
count,18216,2882,15597,18241,18241,18216
unique,6476,27,27,52,16145,8029
top,Seattle,RED,LIGHT,CA,11/16/1999 19:00,"Seattle, WA"
freq,187,780,2803,2529,27,187

In [9]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
Location           object
dtype: object

In [10]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [11]:
ufo.drop('Colors Reported', axis=1, inplace=True)
ufo.head()

,City,Shape Reported,State,Time,Location
0,Ithaca,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"

In [12]:
ufo.drop(['State','Time'], axis=1, inplace=True)
ufo.head()

                   City Shape Reported                  Location
0                Ithaca       TRIANGLE                Ithaca, NY
1           Willingboro          OTHER           Willingboro, NJ
2               Holyoke           OVAL               Holyoke, CO
3               Abilene           DISK               Abilene, KS
4  New York Worlds Fair          LIGHT  New York Worlds Fair, NY

In [13]:
ufo = pd.read_table('http://bit.ly/uforeports', sep=',')

In [14]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [15]:
ufo.State.sort_values(ascending=False).head()

1461    WY
1442    WY
2437    WY
5065    WY
1985    WY
Name: State, dtype: object

In [16]:
ufo.sort_values('Time').head()

           City Colors Reported Shape Reported State            Time
24   Wilderness             NaN           DISK    WV  1/1/1944 10:00
26   Wilderness             NaN           DISK    WV  1/1/1944 12:00
25    San Diego             NaN          CIGAR    CA  1/1/1944 12:00
32      Ft. Lee             NaN          CIGAR    VA  1/1/1945 12:00
118  Mount Hope             NaN            NaN    WV  1/1/1950 22:00

In [17]:
ufo.sort_values(['Time','City']).head()

           City Colors Reported Shape Reported State            Time
24   Wilderness             NaN           DISK    WV  1/1/1944 10:00
25    San Diego             NaN          CIGAR    CA  1/1/1944 12:00
26   Wilderness             NaN           DISK    WV  1/1/1944 12:00
32      Ft. Lee             NaN          CIGAR    VA  1/1/1945 12:00
118  Mount Hope             NaN            NaN    WV  1/1/1950 22:00

In [18]:
ufo.sort_values(['City', 'State']).head()

            City Colors Reported Shape Reported State              Time
1761   Abbeville             NaN           DISK    SC   12/10/1968 0:30
2297    Aberdeen             NaN       TRIANGLE    MD    8/18/1972 1:30
9404    Aberdeen             NaN           DISK    MD   6/15/1996 13:30
16167   Aberdeen             NaN        VARIOUS    OH    3/29/2000 3:00
389     Aberdeen          ORANGE         CIRCLE    SD  11/15/1956 18:30