In [23]:
import pandas as pd

In [24]:
data = pd.read_csv("bestsellers with categories.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [25]:
data[['Name', 'Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

In [26]:
# for col in data.columns:
#     data[col] = data[col].astype("str")

In [27]:
data = data.rename({"User Rating": "user_rating"}, axis=1)

In [28]:
data.loc[data["user_rating"] < 4, "Price"] = data[data["user_rating"] < 4]["Price"] * 0.8

In [29]:
data[data["user_rating"] < 4]

,Name,Author,user_rating,Reviews,Price,Year,Genre
22,Allegiant,Veronica Roth,3.9,6310,10.4,2013,Fiction
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,11.2,2012,Fiction
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,11.2,2013,Fiction
132,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,15.2,2015,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,9.6,2012,Fiction
392,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,16.0,2013,Fiction
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,16.0,2014,Fiction

In [30]:
data = pd.DataFrame(
    {
        "a": [3, 1, 2, 3, 4],
        "b": [1, 6, 4, 6, 9],
    }
)

In [31]:
data["a"].mean()

2.6

In [32]:
data["a"] + 5

0    8
1    6
2    7
3    8
4    9
Name: a, dtype: int64