In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("bestsellers with categories.csv")
data

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [3]:
data[['Name', 'Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

In [4]:
# for col in data.columns:
#     data[col] = data[col].astype("str")

In [5]:
data = data.rename({"User Rating": "user_rating"}, axis=1)

In [6]:
data.loc[data["user_rating"] < 4, "Price"] = data[data["user_rating"] < 4]["Price"] * 0.8

In [7]:
data[data["user_rating"] < 4]

,Name,Author,user_rating,Reviews,Price,Year,Genre
22,Allegiant,Veronica Roth,3.9,6310,10.4,2013,Fiction
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,11.2,2012,Fiction
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,11.2,2013,Fiction
132,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,15.2,2015,Fiction
353,The Casual Vacancy,J.K. Rowling,3.3,9372,9.6,2012,Fiction
392,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,16.0,2013,Fiction
393,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,16.0,2014,Fiction

In [8]:
# data = pd.DataFrame(
#     {
#         "a": [3, 1, 2, 3, 4],
#         "b": [1, 6, 4, 6, 9],
#     }
# )

In [9]:
# data["a"].mean()

In [10]:
# data["a"] + 5

In [11]:
data["name_len"] = data["Name"].map(len)

In [12]:
data.sort_values("name_len", ascending=False)

,Name,Author,user_rating,Reviews,Price,Year,Genre,name_len
447,The Pioneer Woman Cooks: Dinnertime - Comfort ...,Ree Drummond,4.8,3428,14.0,2015,Non Fiction,121
99,Enchanted Forest: An Inky Quest and Coloring b...,Johanna Basford,4.7,5413,9.0,2015,Non Fiction,121
294,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6.0,2019,Non Fiction,119
293,School Zone - Big Preschool Workbook - Ages 4 ...,School Zone,4.8,23047,6.0,2018,Non Fiction,119
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,11881,13.0,2018,Fiction,119
...,...,...,...,...,...,...,...,...
542,Wonder,R. J. Palacio,4.8,21625,9.0,2015,Fiction,6
543,Wonder,R. J. Palacio,4.8,21625,9.0,2016,Fiction,6
544,Wonder,R. J. Palacio,4.8,21625,9.0,2017,Fiction,6
150,Guts,Raina Telgemeier,4.8,5476,7.0,2019,Non Fiction,4
217,Life,Keith Richards,4.5,2752,18.0,2010,Non Fiction,4

In [13]:
data.groupby("Genre")["Name"].count()

Genre
Fiction        240
Non Fiction    310
Name: Name, dtype: int64

In [14]:
data.groupby(["Genre", "Author"])["Name"].count()

Genre        Author
Fiction      Abraham Verghese    2
             Adam Mansbach       1
             Adir Levy           1
             Alan Moore          1
             Alex Michaelides    1
                                ..
Non Fiction  Tucker Carlson      1
             W. Cleon Skousen    1
             Walter Isaacson     3
             William Davis       2
             Zhi Gang Sha        2
Name: Name, Length: 250, dtype: int64

In [16]:
data["dev"] = data["Price"] - data.groupby("Author")["Price"].transform("mean")
data

,Name,Author,user_rating,Reviews,Price,Year,Genre,name_len,dev
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8.0,2016,Non Fiction,29,0.00
1,11/22/63: A Novel,Stephen King,4.6,2052,22.0,2011,Fiction,17,5.25
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15.0,2018,Non Fiction,39,0.00
3,1984 (Signet Classics),George Orwell,4.7,21424,6.0,2017,Fiction,22,0.00
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12.0,2019,Non Fiction,66,0.00
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8.0,2019,Fiction,44,-1.25
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8.0,2016,Non Fiction,86,0.00
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8.0,2017,Non Fiction,86,0.00
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8.0,2018,Non Fiction,86,0.00
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8.0,2019,Non Fiction,86,0.00

In [17]:
data = pd.DataFrame({"Label": list("ABABAB"), "Values": [10, 22, 9, None, 12, 15]})
data

  Label  Values
0     A    10.0
1     B    22.0
2     A     9.0
3     B     NaN
4     A    12.0
5     B    15.0

In [18]:
data.groupby("Label").transform(lambda x: x.fillna(x.mean()))

   Values
0    10.0
1    22.0
2     9.0
3    18.5
4    12.0
5    15.0