In [8]:
import pandas as pd
import numpy as np

In [9]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [10]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [11]:
students_performance.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [14]:
students_performance.groupby('gender').aggregate({'writing score': 'mean'})

        writing score
gender
female      72.467181
male        63.311203

In [16]:
students_performance.iloc[0:5, 0:3]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [17]:
students_performance.iloc[0:5, [0, 2, 4]]

   gender parental level of education test preparation course
0  female           bachelor's degree                    none
1  female                some college               completed
2  female             master's degree                    none
3    male          associate's degree                    none
4    male                some college                    none

In [19]:
students_performance_with_names = students_performance.iloc[[1, 2, 3, 4, 5]]
students_performance_with_names.index = ['Dima', 'Oleg', 'Max', 'Ivan', 'Vlad']

In [20]:
students_performance_with_names.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Dima,female,group C,some college,standard,completed,69,90,88
Oleg,female,group B,master's degree,standard,none,90,95,93
Max,male,group A,associate's degree,free/reduced,none,47,57,44
Ivan,male,group C,some college,standard,none,76,78,75
Vlad,female,group B,associate's degree,standard,none,71,83,78

In [22]:
students_performance_with_names.loc[['Dima', 'Max']]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Dima,female,group C,some college,standard,completed,69,90,88
Max,male,group A,associate's degree,free/reduced,none,47,57,44

In [23]:
students_performance_with_names.loc[['Dima', 'Max'], ['gender', 'writing score']]

      gender  writing score
Dima  female             88
Max     male             44

IndexError: .iloc requires numeric indexers, got ['Dima' 'Max']