In [2]:
import pandas as pd
import numpy as np

In [3]:
students_performance = pd.read_csv('StudentsPerformance.csv')

In [4]:
students_performance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
students_performance.groupby('gender').aggregate({'writing score': 'mean'})

        writing score
gender
female      72.467181
male        63.311203

In [6]:
students_performance.iloc[0:5, 0:3]

   gender race/ethnicity parental level of education
0  female        group B           bachelor's degree
1  female        group C                some college
2  female        group B             master's degree
3    male        group A          associate's degree
4    male        group C                some college

In [7]:
students_performance.iloc[0:5, [0, 2, 4]]

   gender parental level of education test preparation course
0  female           bachelor's degree                    none
1  female                some college               completed
2  female             master's degree                    none
3    male          associate's degree                    none
4    male                some college                    none

In [8]:
students_performance_with_names = students_performance.iloc[[1, 2, 3, 4, 5]]
students_performance_with_names.index = ['Dima', 'Oleg', 'Max', 'Ivan', 'Vlad']

In [9]:
students_performance_with_names.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Dima,female,group C,some college,standard,completed,69,90,88
Oleg,female,group B,master's degree,standard,none,90,95,93
Max,male,group A,associate's degree,free/reduced,none,47,57,44
Ivan,male,group C,some college,standard,none,76,78,75
Vlad,female,group B,associate's degree,standard,none,71,83,78

In [10]:
students_performance_with_names.loc[['Dima', 'Max']]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
Dima,female,group C,some college,standard,completed,69,90,88
Max,male,group A,associate's degree,free/reduced,none,47,57,44

In [15]:
type(students_performance_with_names.loc[['Dima', 'Max'], ['gender', 'writing score']])

pandas.core.frame.DataFrame

In [14]:
type(students_performance_with_names.iloc[:, 0])

pandas.core.series.Series

In [16]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64