In [1]:
import pandas as pd
import numpy as np

students_performance = pd.read_csv('StudentsPerformance.csv')

In [5]:
students_performance.groupby('gender').aggregate({'math score': 'mean', 'reading score': 'mean'})

        math score  reading score
gender
female   63.633205      72.608108
male     68.728216      65.473029

In [6]:
students_performance.groupby('gender', as_index=False) \
    .aggregate({'math score': 'mean', 'reading score': 'mean'})

   gender  math score  reading score
0  female   63.633205      72.608108
1    male   68.728216      65.473029

In [7]:
students_performance.groupby('gender').aggregate(
    mean_math_score=('math score', 'mean'),
    mean_reading_score=('reading score', 'mean'))

        mean_math_score  mean_reading_score
gender
female        63.633205           72.608108
male          68.728216           65.473029