In [2]:
import pandas as pd
import numpy as np

students_performance = pd.read_csv('titanic.csv')

In [3]:
students_performance.shape

(891, 12)

In [4]:
students_performance.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
hw2 = pd.read_csv('StudentsPerformance.csv')
hw2['lunch'].str.contains('free/reduced').mean()

0.355

In [6]:
hw2.groupby(['lunch']).describe()

             math score                                                       \
                  count       mean        std   min   25%   50%   75%    max
lunch
free/reduced      355.0  58.921127  15.159956   0.0  49.0  60.0  69.0  100.0
standard          645.0  70.034109  13.653501  19.0  61.0  69.0  80.0  100.0

             reading score             ...              writing score  \
                     count       mean  ...   75%    max         count
lunch                                  ...
free/reduced         355.0  64.653521  ...  75.0  100.0         355.0
standard             645.0  71.654264  ...  82.0  100.0         645.0


                   mean        std   min   25%   50%   75%    max
lunch
free/reduced  63.022535  15.433823  10.0  53.0  64.0  74.0  100.0
standard      70.823256  14.339487  22.0  62.0  72.0  81.0  100.0

[2 rows x 24 columns]

In [8]:
df = pd.read_csv('column_hell.csv')
selected_columns = df.filter(like='-')

In [9]:
dota = pd.read_csv('dota_hero_stats.csv')
dota.head()

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [11]:
dota['legs'].value_counts()

2    95
0    11
4     7
6     3
8     1
Name: legs, dtype: int64

In [15]:
# anal = pd.read_csv('accountancy.csv')
# anal.head()

In [14]:
# anal.groupby(['Executor', 'Type'])['Salary'].mean()

In [21]:
# dota.groupby(['attack_type','primary_attr']).aggregate({'id':'count'})

In [23]:
seaweed = pd.read_csv('algae.csv')
seaweed.head()

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886